{% extends 'main/layout.html' %}

{% block title %}Вибір сервісу{% endblock %}

{% block content %}
<div class="features">
    <h2>Оберіть сервіс для створення заявки:</h2>
    <div class="row">
        {% for service in services %}
            <div class="col-md-4">
                <div class="alert alert-warning text-center">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text">{{ service.address }}</p>
                        <a href="{% url 'create_order' service.id %}" class="btn btn-primary">
                            Створити заявку
                        </a>
                </div>
            </div>
        {% empty %}
            <p>Сервіси відсутні.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
